body {
	height: 100%;
	position: relative;
}
.post-date{
	background:#f4f4f4;
	padding: 4px;
	margin: 3px 0;
	display:block;
}
.post-thumb{
	width: 100%;
}

.header {
	text-align: center;
}
.date {
	
}
.post-date {
	
}
.more {
	
}
/*POSTS*/

.post {
	margin-left: 20%;
	width: 40%;
}

.header h2 {
	margin-top: 10px;
}
.header date {
	font-size: 11px;
    font-style: italic;
    color: #888;
	margin-bottom: 1000px;
}
.date {
	font-family: "Playfair Display";
	margin-top: -1px;
}
.categorie {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    border-color: #848cb6;
    padding-bottom: 2px;
    display: inline-block;
    margin: 0 4px 0px 0px;
}
.photo {
	margin-top: 8px;
}
.text {
	font-family: Lato ,sans-serif;
    color: #424242;
    font-size: 13px;
}
.text h2 {
	font-family: Lato ,sans-serif;
    color: #424242;
    font-size: 25px;
	margin-top: 6px;
}
.more {
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #848cb6;
    background: #ffffff;
    font-weight: 700;
    display: inline-block;
	margin-left: 42%;
	margin-right: 42%;
    margin-top: 16px;
    padding: 9px 24px 10px;
    border: 1px solid;
	-webkit-transition: .2s;
}
a.text:hover, a.text:focus, a.edit:hover, a.edit:focus, 
a.more:hover, a.more:focus, #delete:hover, .edit1:hover, .edit2:focus{
    color: white;
	background: #848cb6;
	text-decoration: none;
}

.categorie-header {
    text-align: center;
    background: #f4f4f4;
    padding: 40px 0;
    /*margin-bottom: 0.5%;*/
	min-height: 18%;
}
.categorie-header span {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
	margin-top: 15px;
    margin-bottom: -10px;
}
.categorie-header h2 {
	font-family: "Playfair Display";
		font-size: 350%;
}
.edit {
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #848cb6;
    background: #ffffff;
    font-weight: 700;
    display: inline-block;
	margin-left: 25%;
    margin-top: 16px;
    padding: 9px 24px 10px;
    border: 1px solid;
	-webkit-transition: .2s;
	float: left;
}
#delete {
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #848cb6;
    background: #ffffff;
    font-weight: 700;
    display: inline-block;
	margin-right: 25%;
    margin-top: 16px;
    padding: 9px 24px 10px;
    border: 1px solid;
	-webkit-transition: .2s;
	float: right;
}
/*NAVBAR*/
.navbar-inverse {
    background-color: #848cb6;
    border-color: transparent;
}
.navbar {
    position: relative;
    min-height: 6%;
    margin-bottom: 0px;
    border: 1px solid transparent;
	border-radius: 0px;
}

/*CREATE*/
.main {
	margin-left: 20%;
	margin-right: 20%;
	padding:0px;
	padding-bottom:60px;
}
.edit1 {
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #848cb6;
    background: #ffffff;
    font-weight: 700;
    display: inline-block;
    margin-top: 16px;
    padding: 9px 24px 10px;
    border: 1px solid;
	-webkit-transition: .2s;
	float: left;
}
.form-control, input {
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #848cb6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(44,62,80,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(44,62,80,0.6);
}
.footer {
	text-align: center;
	background-color: gray;
	border-bottom: 1px solid black;
	bottom: 0;
	width: 100%;
	min-height: 11%;
}
label {
	font-size: 15px;
}
.list-group-item {
	text-align: center;
    position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #848cb6;
    text-decoration: none;
}/*
.height {
	height: 82.6vh;
}*/
.body {
	min-height: 63.6%;
}